on:
  push:
    branches:
      - main
  pull_request:

name: syncpack

jobs:
  syncpack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: npm install
      - run: npm install -g syncpack
      - run: syncpack fix-mismatches
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "fix(deps): syncpack dependency versions"
